## 서비스 목록

* [청약홈 분양정보 조회 서비스](#청약홈-분양정보-조회-서비스)
* [청약홈 청약접수 경쟁률 조회 서비스](#청약홈-청약접수-경쟁률-조회-서비스)
* [청약홈 청약 신청·당첨자 정보 조회 서비스](#청약홈-청약-신청당첨자-정보-조회-서비스)
* [공동주택 단지 식별정보 조회 서비스](#공동주택-단지-식별정보-조회-서비스)
* [공동주택 실거래가격지수 통계 조회 서비스](#공동주택-실거래가격지수-통계-조회-서비스)
* [전국주택가격동향조사 통계 조회 서비스](#전국주택가격동향조사-통계-조회-서비스)
* [주간아파트동향 조회 서비스](#주간아파트동향-조회-서비스)
* [오피스텔 가격동향조사 통계 조회 서비스](#오피스텔-가격동향조사-통계-조회-서비스)
* [상업용부동산 임대동향 조사 통계 조회 서비스](#상업용부동산-임대동향-조사-통계-조회-서비스)
* [월세가격동향조사 통계 조회 서비스](#월세가격동향조사-통계-조회-서비스)
* [부동산 거래 현황 통계 조회 서비스](#부동산-거래-현황-통계-조회-서비스)
* [전국 지가변동률 조사 통계 조회 서비스](#전국-지가변동률-조사-통계-조회-서비스)
* [매입자 연령대별 부동산거래 조회 서비스](#매입자-연령대별-부동산거래-조회-서비스)
* [녹색건축 인증현황 조회 서비스](#녹색건축-인증현황-조회-서비스)

In [1]:
import os
# 한국부동산원 부동산 종합 정보 조회 클래스 임포트하기
from PublicDataReader import Reb

# 공공 데이터 포털 오픈 API 서비스 인증키 입력하기
service_key = os.getenv("PUBLIC_DATA_HUB")

# 데이터 조회 API 인스턴스 정의하기
api = Reb(service_key)

### 청약홈 분양정보 조회 서비스

In [ ]:

service_name = "분양정보"

category_list = list(api.meta_dict[service_name].keys())
it = iter(category_list)
print(f"{service_name} 카테고리 목록")
print(", ".join(category_list))

분양정보 카테고리 목록
아파트, 오피스텔, 아파트잔여, 아파트주택형별, 오피스텔주택형별, 아파트잔여주택형별

In [5]:
category_name = next(it)
print(f"카테고리명: {category_name}")

df = api.get_data(
    service_name, 
    category_name,
    verbose=True,
    )
df.tail()

카테고리명: 아파트잔여
total_count: 1218, match_count: 1218, cumulative_count: 1218

,BSNS_MBY_NM,CNTRCT_CNCLS_BGNDE,CNTRCT_CNCLS_ENDDE,GNRL_RCEPT_BGNDE,GNRL_RCEPT_ENDDE,HMPG_ADRES,HOUSE_MANAGE_NO,HOUSE_NM,HOUSE_SECD,HOUSE_SECD_NM,...,PBLANC_URL,PRZWNER_PRESNATN_DE,RCRIT_PBLANC_DE,SPSPLY_RCEPT_BGNDE,SPSPLY_RCEPT_ENDDE,SUBSCRPT_AREA_CODE,SUBSCRPT_AREA_CODE_NM,SUBSCRPT_RCEPT_BGNDE,SUBSCRPT_RCEPT_ENDDE,TOT_SUPLY_HSHLDCO
1213,(주)새솔건설,2020-05-12,2020-05-12,None,None,http://www.wr-sclass.com/,2020910004,위례신도시 A3-10BL 중흥S-클래스,04,무순위,...,https://www.applyhome.co.kr/ai/aia/selectAPTRe...,2020-05-11,2020-04-29,None,None,None,"경기,서울,인천",2020-05-04,2020-05-04,2
1214,수원113-12구역주택재개발정비사업조합,2020-05-12,2020-05-12,None,None,https://suwon.ssyapt.com,2020910003,쌍용 더 플래티넘 오목천역,04,무순위,...,https://www.applyhome.co.kr/ai/aia/selectAPTRe...,2020-05-11,2020-04-27,None,None,410,경기,2020-05-04,2020-05-04,21
1215,롯데건설(주),2020-07-23,2020-07-29,None,None,http://www.lottecastle.co.kr,2020920001,의정부 롯데캐슬 골드포레,04,무순위,...,https://www.applyhome.co.kr/ai/aia/selectAPTRe...,2020-07-22,2020-04-24,None,None,None,"경기,서울,인천",2020-05-04,2020-05-04,326
1216,(주)무궁화신탁,2020-03-09,2020-03-10,None,None,https://www.naver.com/enrhrd,2020910002,서초동 지에스타워 주상복합 （서울）,04,무순위,...,https://www.applyhome.co.kr/ai/aia/selectAPTRe...,2020-03-06,2020-02-25,None,None,None,"경기,서울,인천",2020-03-02,2020-03-02,45
1217,강서크라운팰리스,2020-02-18,2020-02-19,None,None,None,2020910001,강서 크라운팰리스（서울）,04,무순위,...,https://www.applyhome.co.kr/ai/aia/selectAPTRe...,2020-02-17,2020-02-06,None,None,None,"서울, 경기 인천",2020-02-11,2020-02-11,50

### 청약홈 청약접수 경쟁률 조회 서비스

In [6]:
service_name = "청약경쟁률"

category_list = list(api.meta_dict[service_name].keys())
it = iter(category_list)
print(f"{service_name} 카테고리 목록")
print(", ".join(category_list))

청약경쟁률 카테고리 목록
아파트, 오피스텔, 임대, 취소후재공급, 잔여

In [8]:
category_name = next(it)
print(f"카테고리명: {category_name}")

df = api.get_data(
    service_name, 
    category_name,
    verbose=True,
    )
df.tail()

카테고리명: 오피스텔
total_count: 2209, match_count: 2209, cumulative_count: 2209

,CMPET_RATE,HOUSE_MANAGE_NO,HOUSE_TY,MODEL_NO,PBLANC_NO,REQ_CNT,RESIDNT_PRIOR_AT,RESIDNT_PRIOR_SENM,SUPLY_HSHLDCO
2204,(△23),2020950003,22A,03,2020950003,0,N,전체,23
2205,(△5),2020950003,22A-1,04,2020950003,0,N,전체,5
2206,2.00,2020950003,22A-2,05,2020950003,2,N,전체,1
2207,(△8),2020950003,22S,06,2020950003,0,N,전체,8
2208,(△21),2020950003,22T,07,2020950003,1,N,전체,22

### 청약홈 청약 신청·당첨자 정보 조회 서비스

In [9]:
service_name = "청약당첨정보"

category_list = list(api.meta_dict[service_name].keys())
it = iter(category_list)
print(f"{service_name} 카테고리 목록")
print(", ".join(category_list))

청약당첨정보 카테고리 목록
지역별신청자, 연령별신청자, 지역별당첨자, 연령별당첨자, 지역별경쟁률, 지역별가점제당첨자

In [13]:
category_name = next(it)
print(f"카테고리명: {category_name}")

df = api.get_data(
    service_name, 
    category_name,
    verbose=True,
    )
df

카테고리명: 연령별당첨자
'data'

### 공동주택 단지 식별정보 조회 서비스

In [14]:
service_name = "공동주택단지정보"

category_list = list(api.meta_dict[service_name].keys())
it = iter(category_list)
print(f"{service_name} 카테고리 목록")
print(", ".join(category_list))

공동주택단지정보 카테고리 목록
기본, 동, 단지명

In [15]:
category_name = next(it)
print(f"카테고리명: {category_name}")

df = api.get_data(
    service_name, 
    category_name,
    verbose=True,
    )
df.tail(1)

카테고리명: 기본
total_count: 307563, match_count: 307563, cumulative_count: 10000
total_count: 307563, match_count: 307563, cumulative_count: 20000
total_count: 307563, match_count: 307563, cumulative_count: 30000
total_count: 307563, match_count: 307563, cumulative_count: 40000
total_count: 307563, match_count: 307563, cumulative_count: 50000
total_count: 307563, match_count: 307563, cumulative_count: 60000
total_count: 307563, match_count: 307563, cumulative_count: 70000
total_count: 307563, match_count: 307563, cumulative_count: 80000
total_count: 307563, match_count: 307563, cumulative_count: 90000
total_count: 307563, match_count: 307563, cumulative_count: 100000
total_count: 307563, match_count: 307563, cumulative_count: 110000
total_count: 307563, match_count: 307563, cumulative_count: 120000
total_count: 307563, match_count: 307563, cumulative_count: 130000
total_count: 307563, match_count: 307563, cumulative_count: 140000
total_count: 307563, match_count: 307563, cumulative_count: 150000
total_count: 307563, match_count: 307563, cumulative_count: 160000
total_count: 307563, match_count: 307563, cumulative_count: 170000
total_count: 307563, match_count: 307563, cumulative_count: 180000
total_count: 307563, match_count: 307563, cumulative_count: 190000
total_count: 307563, match_count: 307563, cumulative_count: 200000
total_count: 307563, match_count: 307563, cumulative_count: 210000
total_count: 307563, match_count: 307563, cumulative_count: 220000
total_count: 307563, match_count: 307563, cumulative_count: 230000
total_count: 307563, match_count: 307563, cumulative_count: 240000
total_count: 307563, match_count: 307563, cumulative_count: 250000
total_count: 307563, match_count: 307563, cumulative_count: 260000
total_count: 307563, match_count: 307563, cumulative_count: 270000
total_count: 307563, match_count: 307563, cumulative_count: 280000
total_count: 307563, match_count: 307563, cumulative_count: 290000
total_count: 307563, match_count: 307563, cumulative_count: 300000
total_count: 307563, match_count: 307563, cumulative_count: 307563

,ADRES,COMPLEX_GB_CD,COMPLEX_NM1,COMPLEX_NM2,COMPLEX_NM3,COMPLEX_PK,DONG_CNT,PNU,UNIT_CNT,USEAPR_DT
307562,전북특별자치도 익산시 모현동1가 393,3,크레모드(제6동),None,None,52140320312247,1,5214011400103930000,2,20150116

### 공동주택 실거래가격지수 통계 조회 서비스

In [16]:
service_name = "공동주택실거래가격지수"

category_list = list(api.meta_dict[service_name].keys())
it = iter(category_list)
print(f"{service_name} 카테고리 목록")
print(", ".join(category_list))

공동주택실거래가격지수 카테고리 목록
지역별, 규모별

In [18]:
category_name = next(it)
print(f"카테고리명: {category_name}")

df = api.get_data(
    service_name, 
    category_name,
    verbose=True,
    )
df

카테고리명: 규모별
'data'

### 전국주택가격동향조사 통계 조회 서비스

In [19]:
service_name = "주택"

category_list = list(api.meta_dict[service_name].keys())
it = iter(category_list)
print(f"{service_name} 카테고리 목록")
print(", ".join(category_list))

주택 카테고리 목록
지역별, 5분위배율, 전세가격비율, 계절조정, 연령별, 규모별, 매매수급, 매매거래, 전세수급, 전세가격, 가격별

In [21]:
category_name = next(it)
print(f"카테고리명: {category_name}")

df = api.get_data(
    service_name, 
    category_name,
    verbose=True,
    )
df

카테고리명: 5분위배율
'data'

### 주간아파트동향 조회 서비스

In [22]:
service_name = "주간아파트"

category_list = list(api.meta_dict[service_name].keys())
it = iter(category_list)
print(f"{service_name} 카테고리 목록")
print(", ".join(category_list))

주간아파트 카테고리 목록
연령별거래유형별, 규모별거래유형별, 전세수급, 매매수급, 지역별거래유형별

In [24]:
category_name = next(it)
print(f"카테고리명: {category_name}")

df = api.get_data(
    service_name, 
    category_name,
    verbose=True,
    )
df

카테고리명: 규모별거래유형별
'data'